body{
    font-family: 'Heebo', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    padding: 20px;
}
h2{
    font-size: 20px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin: 100px;
}
half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    background-image: linear-gradient(orange, tomato);
    font-size: 20px;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;   
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray ;
    padding: 20px;
    border-radius: 10px;
    
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-developer-experience{

    border-left: 7px solid;
    border-image:linear-gradient(salmon, rgba(190, 156, 150, 0.603));
    border-image-slice: 1;
}
#Baby-developer-experince{
    border-left: 7px solid;
    border-image:linear-gradient(blue, rgb(186, 228, 228));
    border-image-slice: 1;
}
footer {
    text-align: center;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: white;
    }
